<footer class="site-footer">

    <div class="container">

      <h2 class="footer-heading">{{ site.title | escape }}</h2>
    <div class="row">
      <div class="col-md-4">
        <ul class="contact-list">
            <li>
              {% if site.author %}
                {{ site.author | escape }}
              {% else %}
                {{ site.title | escape }}
              {% endif %}
              </li>
              {% if site.email %}
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {% endif %}
          </ul>
      </div>
      <div class="col-md-4">
        <ul class="social-media-list">
            {% if site.github_username %}
            <li>
              {% include icon-github.html username=site.github_username %}
            </li>
            {% endif %}

            {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
            {% endif %}
          </ul>
      </div>
      <div class="col-md-4">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>
      <!-- <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          
        </div>

        <div class="footer-col footer-col-2">
          
        </div>

        <div class="footer-col footer-col-3">
          
        </div>
      </div>

    </div> -->
  </div>
</footer>
